extends layout
block content
 h1= title
 - let safariid = toShow._id
 - let safarivarient = toShow.varient
 - let safariuser = toShow.user
 - let safaricost = toShow.cost
 div
    div.row
      div(class='safariAttr mr-3') Safari Id is:
      div #{safariid}
    div.row
      div(class='safariAttr mr-3') Safari Varient is:
      div #{safarivarient}
    div.row
      div(class='safariAttr mr-3') Safari User is:
      div #{safariuser}
    div.row
      div(class='safariAttr mr-3') Safari Cost is:
      div #{safaricost}