extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
  - let safariid = toShow._id
  - let varient = toShow.varient
  - let user = toShow.user
  - let cost = toShow.cost
  - let actionid = "/resource/safari/" + safariid
  script let actionid = "#{actionid}"
  div
    div.row
      div(class='safariAttr mr-3') Safari ID is:
      div #{safariid}
    div.row
      div(class='safariAttr mr-3') Safari Varient is:
      div #{varient}
    div.row
      div(class='safariAttr mr-3') Safari User is:
      div #{user}
    div.row
      div(class='safariAttr mr-3') Safari Cost is:
      div #{cost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the safari collection
      window.location.href='/safari'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/resource/safari'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }