extends layout

block content
  h1= title
  - var results = results
  div(class="container-fuild")
    div(class="row m-1")
      each result,index in results
        - let destination = `dispatch(\"/plant/update?id=${result._id}\")`
        div(class="col-sm-4")  #{result.varient} - #{result.user} - #{result.cost}
          button.btn( class="btn-primary" class="btn-toolbar", onclick= destination) Update
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }