extends layout

block content
  h1= title

  - let safariid = toShow._id
  - let varient = toShow.varient
  - let user = toShow.user
  - let cost = toShow.cost

  div.row(class='mb-2')
  div.mr-1 ID is
  div #{safariid}
  - let actionid = "/resource/safari/" + safariid
  form(id='SafariForm',  action= actionid, method="PUT")
    div.form-group
        label.safariAttr(for='varient') Safari Varient
        input#name(type='text', name='varient', value=varient)
    div.form-group
        label.safariAttr(for='user') Safari User
        input#name(type='text', name='user', value=user)
    div.form-group
        label.safariAttr(for='cost') Safari Cost
        input#cost(type='number', name='cost', value=cost)
    input.button(type="submit")

  script. 
    document.forms['SafariForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 