extends layout

block content
  h1= title
  - let createView = `dispatch(\"safari/create\")`

  button.btn(class="btn-primary m1-2", onclick=createView) Create
  - var results = results
  div(class="container-fuild")
    div(class="row m-1")
      each result,index in results
        - let destination = `dispatch(\"/safari/update?id=${result._id}\")`
        div(class="col-sm-4")  #{result.cost} - #{result.varient} - #{result.user}
          button.btn( class="btn-primary" class="btn-toolbar", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path 
    }